@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 1%;
    background-color:#ffeede;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-image: url(./assets/op1.jpg);
    background-size:cover;
    /* background-position: center bottom;  */
    background-attachment: fixed;
}

.titulo{
    color: #BD722C;
    font-size: 4rem;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}

p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
} 

div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.pessoasGramas {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.tipoPreco {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

input{
    border: 1px solid #BD722C;
    height: 40px;
    border-radius: 8px;
    background: #BD722C;
    opacity: 0.8;
    width: 310px;
    text-align: center;
}

.botao{
    border: 1px solid #BD722C;
    background-color: #BD722C ;
    color: #ffffff;
    opacity: 0.8;
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}

.botao:hover{
    background-color: #df9047 ;
}